attrs==21.2.0
build==0.7.0
certifi==2021.5.30
charset-normalizer==2.0.6
click==8.0.3
coverage==5.5
execnet==1.9.0
Flask==2.0.2
Flask-HTTPAuth==4.5.0
Flask-SQLAlchemy==2.5.1
freezegun==1.1.0
GeoAlchemy2==0.9.4
gisfire-meteocat-lib @ file:///home/jaume/codi/tesi/MeteoCatLib/dist/gisfire_meteocat_lib-0.1.0.tar.gz
greenlet==1.1.2
idna==3.2
iniconfig==1.1.1
itsdangerous==2.0.1
Jinja2==3.0.3
MarkupSafe==2.0.1
mirakuru==2.4.1
packaging==21.0
pep517==0.11.0
pluggy==1.0.0
port-for==0.6.1
psutil==5.8.0
psycopg2==2.9.1
py==1.10.0
pyparsing==2.4.7
pytest==6.2.5
pytest-cov==2.12.1
pytest-forked==1.4.0
pytest-postgresql==3.1.1
pytest-xdist==2.5.0
python-dateutil==2.8.2
pytz==2021.3
requests==2.26.0
requests-mock==1.9.3
six==1.16.0
SQLAlchemy==1.4.25
toml==0.10.2
tomli==1.2.1
urllib3==1.26.7
Werkzeug==2.0.2
